/* Checkbox.css checkbox/radio styling library
 * https://gitlab.com/bbworld1/checkbox.css
 *
 * Authored by: Vincent Wang <vwangsf@gmail.com> 2020
 */
$checkbox-border-radius: 3px;
$checkbox-bg-color: #DDD;
$checkbox-bg-hover-color: #CCC;
$checkbox-bg-checked-color: #0178fe;
$checkbox-focus-outline: rgb(59, 153, 252) auto 5px;
$checkbox-width: 16px;
$checkbox-height: 16px;
$checkbox-spacing: 4px;
$checkbox-transition-duration: 250ms;

$checkmark-thickness: 2px;
$checkmark-left: 4px;
$checkmark-right: 7px;
$checkmark-color: #FFF;

$radio-bg-color: $checkbox-bg-color;
$radio-bg-hover-color: $checkbox-bg-hover-color;
$radio-bg-checked-color: $checkbox-bg-checked-color;
$radio-focus-outline: $checkbox-focus-outline;
$radio-width: $checkbox-width;
$radio-height: $checkbox-height;
$radio-spacing: $checkbox-spacing;
$radio-transition-duration: $checkbox-transition-duration;

$radio-dot-radius: 2px;
$radio-dot-color: #FFF;

/* If you want to override the checkbox area/checkmark pseudo-elements,
 * scroll to the end of this file.
 */





/* spooky css magic to make everything work */
.checkbox-group {
  position: relative;
}

.checkbox-group input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox-group input[type="checkbox"] {
  width: $checkbox-width;
  height: $checkbox-height;
}

.checkbox-group input[type="radio"] {
  width: $checkbox-width;
  height: $checkbox-height;
}

.checkbox-group input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: $checkbox-width + $checkbox-spacing;
  padding-top: calc(#{$checkbox-height / 2} - 0.5em);
  padding-bottom: calc(#{$checkbox-height / 2} - 0.5em);
}

.checkbox-group input[type="radio"] + label {
  position: relative;
  display: inline-block;
  padding-left: $radio-width + $radio-spacing;
  padding-top: calc(#{$radio-height / 2} - 0.5em);
  padding-bottom: calc(#{$radio-height / 2} - 0.5em);
}

.checkbox-group label::before {
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox-group input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: $checkbox-width;
  height: $checkbox-height;
  border-radius: $checkbox-border-radius;
  background-color: $checkbox-bg-color;
  transition: all $checkbox-transition-duration;
}

.checkbox-group input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  height: $radio-height;
  width: $radio-width;
  border-radius: 9999px;
  background-color: $radio-bg-color;
  transition: all $radio-transition-duration;
}

.checkbox-group input[type="checkbox"] + label::after {
  position: absolute;
  content: none;
  left: $checkbox-width / 2;
  top: $checkbox-width / 2;
  height: $checkmark-left;
  width: $checkmark-right;
  color: $checkmark-color;
  border-left: $checkmark-thickness solid;
  border-bottom: $checkmark-thickness solid;
  transform: translateX(-50%) translateY(-66%) rotate(-45deg);
  transition: all $checkbox-transition-duration;
}

.checkbox-group input[type="radio"] + label::after {
  position: absolute;
  content: none;
  top: ($radio-width / 2) - $radio-dot-radius;
  left: ($radio-width / 2) - $radio-dot-radius;
  height: $radio-dot-radius * 2;
  width: $radio-dot-radius * 2;
  border-radius: 9999px;
  background-color: $radio-dot-color;
  transition: all $radio-transition-duration;
}

.checkbox-group input:checked + label::after {
  content: "";
}

.checkbox-group input[type="checkbox"]:focus + label::before {
  outline: $checkbox-focus-outline;
}

.checkbox-group input[type="checkbox"]:hover + label::before {
  outline: $checkbox-bg-hover-color;
}

.checkbox-group input[type="checkbox"]:checked + label::before {
  background-color: $checkbox-bg-checked-color;
}

.checkbox-group input[type="radio"]:focus + label::before {
  outline: $radio-focus-outline;
}

.checkbox-group input[type="radio"]:hover + label::before {
  outline: $radio-bg-hover-color;
}

.checkbox-group input[type="radio"]:checked + label::before {
  background-color: $radio-bg-checked-color;
}

/* --------------------------------------------------------*/



/* If you want to override properties, use these selectors */
/* Checkbox area */
.checkbox-group input[type="checkbox"] + label::before {
}
/* Hover */
.checkbox-group input[type="checkbox"]:hover + label::before {
}
/* Focused */
.checkbox-group input[type="checkbox"]:focus + label::before {
}
/* Checked */
.checkbox-group input[type="checkbox"]:checked + label::before {
}

/* Radio area */
.checkbox-group input[type="radio"] + label::before {
}
/* Hover */
.checkbox-group input[type="radio"]:hover + label::before {
}
/* Focused */
.checkbox-group input[type="radio"]:focus + label::before {
}
/* Checked */
.checkbox-group input[type="radio"]:checked + label::before {
}

/* Check mark */
.checkbox-group input[type="checkbox"] + label::after {
}
/* Hover */
.checkbox-group input[type="checkbox"]:hover + label::after {
}
/* Focused */
.checkbox-group input[type="checkbox"]:focus + label::after {
}
/* Checked */
.checkbox-group input[type="checkbox"]:checked + label::after {
}

/* Radio dot */
.checkbox-group input[type="radio"] + label::after {
}
/* Hover */
.checkbox-group input[type="radio"]:hover + label::after {
}
/* Focused */
.checkbox-group input[type="radio"]:focus + label::after {
}
/* Checked */
.checkbox-group input[type="radio"]:checked + label::after {
}
